# Ignore everything
*

# Allow directories
!*/


# Allow specific extentions
!*.jsx
!*.js
!*.css
!*.java
!*.html
!*.png
!*.ico
!*.svg
!pom.xml
!package.json
!*.example
!.gitignore
!manifest.json

# ignore
/client/node_modules
/.idea/.gitignore
/.pnp
.pnp.js
**/server/src/main/resources/

# testing
/client/coverage

# production
/client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

