.scrollable-rooms {
  width: 90%;
  max-width: 700px;
  max-height: 80%;
  overflow-y: auto;
  margin-bottom: 20px;
  border: 2px solid #444;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  min-height: 60vh;
  display: flex;

}

.room-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.room-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fafafa;
  width: 100%;
  box-sizing: border-box;
}

.room-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.room-name {
  font-size: 18px;
  font-weight: bold;
}

.participants {
  font-size: 14px;
  color: #555;
}

.empty-room-message,
.empty-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  margin: 20px auto;
  padding: 40px;
  max-width: 700px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.empty-room-image {
  width: 150px;
  margin-bottom: 20px;
}

.empty-room-heading {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.empty-room-text {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .scrollable-rooms {
    min-height: 60vh;
    padding: 5px;
  }
  .room-name {
    font-size: 16px;
  }
  .participants {
    font-size: 12px;
  }
  .empty-room-message,
  .empty-room-container {
    padding: 20px;
    margin: 20px auto;
    max-width: 90%;
  }
  .empty-room-image {
    width: 100px;
  }
  .empty-room-heading {
    font-size: 1.5em;
  }
  .empty-room-text {
    font-size: 1em;
  }
}
