.myCanvas {
  display: block;
  height: auto;  
  cursor: crosshair;
  margin: 10px auto;
  border: 1px solid #000;
  background-color: #fff; 
  overscroll-behavior: none;
  touch-action: none;
  display: block;
}
@media (max-width: 480px) {
  .myCanvas {
    max-width: 95%;
  }
}
