.drawing-area {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px; 
    max-height: 100vh; 
    overflow: hidden; 
    box-sizing: border-box; 
    margin-top: 0px;
    margin-left: 0%; 
}

@media screen and (max-width: 768px) {
    .drawing-area {
        margin-left: auto;
        margin-right: auto;
        width: 100%; 
        padding: 5px;
    }
}